    
<html>
    <head>
        <!-- Metadata -->
        <title>Higher or Lower?</title>
        <link rel="icon" href="/img/backs/red.png" type="image/png" />
        <meta name="viewport" content="width=device-width">
        <!-- JQuery Imports -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Materialize CSS Imports -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Local Imports -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="display" class="row">
            <div class="col s12 valign-wrapper" style="height: 100%;">

            </div>
        </div>
        <div id="interaction" class="row" style="margin-bottom: 0;">
            <div id="stats" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <h4 class="center">Scores & Stats</h4>
                        <br />
                        <table>
                            <tbody>
                                <tr style="border-bottom-width: 3px;">
                                    <th>Current Score:</th>
                                    <td id="score">0</td>
                                </tr>
                                <tr>
                                    <th>Chance Next Card is Higher</th>
                                    <td id="chance-higher">24/52 (46.15%)</td>
                                </tr>
                                <tr>
                                    <th>Chance Next Card is Lower</th>
                                    <td id="chance-lower">24/52 (46.15%)</td>
                                </tr>
                                <tr>
                                    <th>Chance Next Card is Same</th>
                                    <td id="chance-same">4/52 (7.69%)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="inputs" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <h4 class="center">Inputs</h4>
                        <br />
                        <a id="higher" class="waves-effect waves-light btn-large" data-guess="higher">Higher</a>
                        <a id="lower" class="waves-effect waves-light btn-large" data-guess="lower">Lower</a>
                        <div id="lost" style="display: none;">
                            <h5 class="center">You Lose</h5>
                            <a href="/" class="waves-effect waves-light btn-large">Start Again</a>
                        </div>
                        <div id="win" style="display: none;">
                            <h5 class="center">You Win!</h5>
                            <a href="/" class="waves-effect waves-light btn-large">Start Again</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="stats" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <h4 class="center">Options</h4>
                        <br />
                        <p>Choose Card Back Colour:</p>
                        <br />
                        <div class="col s6">
                            <p>
                                <label>
                                    <input name="colour" type="radio" checked />
                                    <span>Red</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="colour" type="radio" />
                                    <span>Blue</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="colour" type="radio" />
                                    <span>Green</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s6">
                            <p>
                                <label>
                                    <input name="colour" type="radio" />
                                    <span>Yellow</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="colour" type="radio" />
                                    <span>Purple</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="colour" type="radio" />
                                    <span>Grey</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>

<!-- Local JavaScript Imports -->
<script src="/js/game.js"></script>